@import "tailwindcss";

:root {
  --background: #f9f8f2;
  --foreground: #161515;
  --accent: #ff6302;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-merchant: var(--font-merchant);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
  letter-spacing: -0.02em;
  line-height: 1;
}

@layer base {
  .navbar-link {
    @apply opacity-60 text-white hover:opacity-100 text-[15px];
  }

  .mobile-nav-link {
    @apply opacity-80 font-merchant font-extralight text-white hover:opacity-100 text-[24px] tracking-[0em];
  }
}
